<h1>The Form</h1>

<form action="/" method="POST">
  Message: <input type="text" name="message">
  Offset: <input type="text" name="offset">
  <input type="submit">
</form>

<p>Original message - <%= message %></p>
<p>Encrypted message - <%= new_message %></p>
